.swiper-pagination-bullet {
    background-color: #90EE90; /* Light green color for the pagination bullets */
    width: 12px;
    height: 12px;
  }
  
  /* Optional: Hover state */
  .swiper-pagination-bullet:hover {
    background-color: #76c7a5; /* Slightly darker green on hover */
  }
  
  /* Optional: Active state */
  .swiper-pagination-bullet-active {
    background-color: #4caf50; /* Darker green for the active bullet */
  }
  .swiper-pagination
  {
    
    position: relative;
    margin-top: 10px;
  }

  .swiper-button-prev , .swiper-button-next {
    color: #4caf50; /* Green color for the previous button */
    right: 20px;
  }